<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Docente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container-bienv">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Hola, {{ usuarioLogin }} </ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Bienvenido al sistema, estamos felices de tenerte aquí.
      </ion-card-content>
    </ion-card>
  </div>

  <ion-card>
    <img alt="Silhouette of mountains" src="assets/img/asistenciaaa.png" />
    <ion-card-header>
      <ion-card-title>Asistencia</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p></p>
      <ion-button expand="full" color="light" routerLink="/asistencia">
        <ion-icon slot="start" name="eye"></ion-icon>
        Ver 
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/img/asignaturas.png" />
    <ion-card-header>
      <ion-card-title>Detalle Asignaturas</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p></p>
      <ion-button expand="full" color="light" routerLink="/detalle-asignatura">
        <ion-icon slot="start" name="eye"></ion-icon>
        Ver 
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
