<ion-header>
  <ion-toolbar>
    <ion-title>Recupera tu Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <form (submit)="recoveryEmail()">
        <ion-input [(ngModel)]="email" type="email" name="email" label="Correo:" labelPlacement="floating" placeholder="Ingresa tu email"></ion-input>
        <ion-button type="submit" color="dark">Enviar correo de recuperación</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

