<ion-header>
  <ion-toolbar>
    <ion-title>Gestionar Secciones</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="abrirModal()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let seccion of secciones">
      <ion-label>
        <h2>Asignatura: {{ seccion.nombre_asignatura }}</h2>
        <p>Sección: {{ seccion.nombre_seccion }}</p>
        <p>Horario: {{ seccion.horario }}</p>
        <p>Sala: {{ seccion.sala }}</p>
      </ion-label>

      <ion-buttons slot="end">
        <ion-button (click)="abrirModalEditar(seccion.id_seccion)">
          <ion-icon name="pencil"></ion-icon>
        </ion-button>
        
        <ion-button (click)="eliminarSeccion(seccion.id_seccion)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
