<ion-header>
  <ion-toolbar>
    <ion-title>Gestionar Asignaturas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="abrirModal()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let asignatura of asignaturasConDocentes">
      <ion-label>
        <h2>{{ asignatura.nombre_asignatura }}</h2>
        <p>Descripción: {{ asignatura.descripcion }}</p>
        <p>Docente a cargo: {{ asignatura.nombre_docente || 'Docente no asignado' }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="abrirModalEditar(asignatura.aid)">
          <ion-icon name="pencil"></ion-icon>
        </ion-button>
        <ion-button (click)="deleteAsignatura(asignatura.aid)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
