ion-toolbar {
    --background: #000000; 
    color: white; 
  }
  
  ion-item {
    margin: 10px 0; 
    border-radius: 10px; 
  }

  ion-content {
    background-color: #000000;
  }

  ion-list{
    margin-top: 5px;
    border-radius: 20px;
  }
  
  ion-label{
    margin-left: 20px;
  }

  .ion-padding{
    display: flex;
    text-align: center;
  }